<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= type %></title>
    <!-- <link rel='stylesheet' href="bower_modules/bootstrap/dist/bootstrap.min.css"/> -->
    <link rel='stylesheet' href="bower_modules/bootswatch/flatly/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= title %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <form class="navbar-form navbar-right">
<!-- <a href = "#" id = "save" download="data.json">Save Canvas 1</a> -->


          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="container main">
      <div class="row" style="margin-left:20px;">
          <div class="col-md-6">
            <p style="color:white; opacity:.7;font-size:250%;margin-bottom:20px;">Realtime Predictive Coverage:</p>
            <p style="color:white;font-size:300%;margin-left:30px; margin-bottom:50px;"><%= type %></p>
          </div>
          <div class="col-md-offset-4 col-md-2">
            <div class="dropdown">
              <button id="dLabel" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Play
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="/sample_play_touchdown">Touchdown</a></li>
                <li><a href="/sample_play_sack">Sack</a></li>
                <li><a href="/sample_play_interception">Interception</a></li>
              </ul>
            </div>

          </div>
      </div>
    </div>


    <div style="position:relative; background-color:black;width:90%;">
      <div style="position:absolute; z-index:-1; " class="heatmapContainer">
        <div style="height: 100%;  width:100%; background-color:black; top:0; left:0px; opacity:.5;" class="heatmap2"></div>
      </div>
      <div style="position:absolute; z-index:-1; " class="heatmapContainer">
        <div style="height: 100%;  width:100%; top:0; left:0px; opacity:.5;" class="heatmap1"></div>
      </div>

      <!-- <div style="position:absolute; width:100%;height:500px; ">
        <div style="height: 500px;  width:100%; top:0; left:0px; opacity:.5;" class="heatmap3"></div>
      </div>
      <div style="position:absolute; width:100%;height:500px;">
        <div style="height: 500px; width:100%; top:0; left:0px; opacity:.5;" class="heatmap4"></div>
      </div> -->


      <div style="position:absolute; width:100%;height:500px;z-index:1;">
        <div id="field"></div>
      </div>

  </div>
    <script>

      window.ctx = {
        csvPath:"<%- filePath %>",
        csvPathCoverage:"<%- coveragePath %>",
      };

    </script>

    <script src="bower_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script src="javascripts/d3.geom.contour.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.min.js"></script>
    <script src="bower_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_modules/heatmap.js-amd/build/heatmap.min.js"></script>
    <script src="bower_modules/lodash/dist/lodash.min.js"></script>
    <script src="bower_modules/heatmap.js-amd/build/heatmap.min.js"></script>
    <script src="javascripts/app.js"></script>



  </body>
</html>
